.tickerWrapper {
    width: 100%;
    overflow: hidden;
    background: var(--color-primary);
    color: var(--color-background);
    font-family: var(--font-mono);
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-background);
    white-space: nowrap;
    position: relative;
    z-index: 40;
}

.tickerContent {
    display: inline-block;
    animation: tick 30s linear infinite;
    padding-left: 100%;
}

.item {
    display: inline-block;
    padding: 0 2rem;
    font-weight: bold;
}

@keyframes tick {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}